[Unit]
Description=ELB presence service
BindsTo=aeternuum-http@%i.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill aeternuum-presence%i
ExecStartPre=-/usr/bin/docker rm aeternuum-presence%i
ExecStartPre=/usr/bin/docker pull quay.io/coreos/elb-presence:latest
ExecStart=/usr/bin/docker run --rm --name aeternuum-presence%i -e AWS_ACCESS_KEY=AKIAI6MNHYUXBWDIG3VA -e AWS_SECRET_KEY=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 -e AWS_REGION=eu-central-1 -e ELB_NAME=aet-elb quay.io/coreos/elb-presence
ExecStop=/usr/bin/docker stop aeternuum-presence%i

[X-Fleet]
MachineOf=aeternuum-http@%i.service
